@import "../../node_modules/bootstrap/scss/bootstrap";

.container-fluid {
  margin: 0;
  padding: 0;
}

.nav-link {
  color: var(--bs-gray-300);

  &:hover {
    color: var(--bs-info);
  }
}

.product {
  width: min(80%, 400px);
}

.fontawesomeicon {
  cursor: pointer;
}

.gap {
  gap: 1em;
}

/* BREAKPOINTS */

@media (max-width: 768px) {
  .md-hidden {
    display: none;
  }
  .h-sm-50 {
    height: 50% !important;
  }
}

/* SM breakpoint */
@media (min-width: 576px) {
  /* CUSTOM WIDTHS & HEIGHTS*/
  .w-sm-10 {
    width: 10% !important;
  }
  .w-sm-15 {
    width: 15% !important;
  }
  .w-sm-20 {
    width: 20% !important;
  }
}

/* MD breakpoint*/
@media (min-width: 768px) {
  /* CUSTOM WIDTHS */
  .w-md-10 {
    width: 10% !important;
  }
  .w-md-15 {
    width: 15% !important;
  }
  .w-md-20 {
    width: 20% !important;
  }
  .w-md-40 {
    width: 40% !important;
  }
  .w-md-60 {
    width: 60% !important;
  }
  .w-md-80 {
    width: 80% !important;
  }

  /* CUSTOM HEIGHTS */
  .h-md-100 {
    height: 100%;
  }

  /* CUSTOM SPACER */
  .mb-md-3 {
    margin-bottom: ($spacer);
  }

  .mx-md-auto {
    margin-inline: auto;
  }
}

/* LG breakpoint */
@media (min-width: 992px) {
  /* CUSTOM WIDTHS */
  .w-lg-10 {
    width: 10% !important;
  }
  .w-lg-15 {
    width: 15% !important;
  }
  .w-lg-20 {
    width: 20% !important;
  }
}
